<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISnmpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54002/SnmpService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISnmpService" contract="SnmpServiceReferenceTest.ISnmpService"
                name="BasicHttpBinding_ISnmpService" />
        </client>
    </system.serviceModel>
</configuration>